|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read data and describe it

df = pd.read_csv('titanic_dataset.csv')
print(df.describe(include='all'))

         Unnamed: 0       pclass     survived                  name gender  \
count   1309.000000  1309.000000  1309.000000                  1309   1309
unique          NaN          NaN          NaN                  1307      2
top             NaN          NaN          NaN  Connolly, Miss. Kate   male
freq            NaN          NaN          NaN                     2    843
mean     654.000000     2.294882     0.381971                   NaN    NaN
std      378.020061     0.837836     0.486055                   NaN    NaN
min        0.000000     1.000000     0.000000                   NaN    NaN
25%      327.000000     2.000000     0.000000                   NaN    NaN
50%      654.000000     3.000000     0.000000                   NaN    NaN
75%      981.000000     3.000000     1.000000                   NaN    NaN
max     1308.000000     3.000000     1.000000                   NaN    NaN

                age        sibsp        parch    ticket    fare        cabin  \
count   1046.000000  1309.000000  1309.000000      1309    1308          295
unique          NaN          NaN          NaN       929     263          186
top             NaN          NaN          NaN  CA. 2343  $8.05   C23 C25 C27
freq            NaN          NaN          NaN        11      60            6
mean      29.881135     0.498854     0.385027       NaN     NaN          NaN
std       14.413500     1.041658     0.865560       NaN     NaN          NaN
min        0.166700     0.000000     0.000000       NaN     NaN          NaN
25%       21.000000     0.000000     0.000000       NaN     NaN          NaN
50%       28.000000     0.000000     0.000000       NaN     NaN          NaN
75%       39.000000     1.000000     0.000000       NaN     NaN          NaN
max       80.000000     8.000000     9.000000       NaN     NaN          NaN

       embarked boat        body     home.dest
count      1307  486  121.000000           745
unique        3   27         NaN           369
top           S   13         NaN  New York, NY
freq        914   39         NaN            64
mean        NaN  NaN  160.809917           NaN
std         NaN  NaN   97.696922           NaN
min         NaN  NaN    1.000000           NaN
25%         NaN  NaN   72.000000           NaN
50%         NaN  NaN  155.000000           NaN
75%         NaN  NaN  256.000000           NaN
max         NaN  NaN  328.000000           NaN

In [4]:
# Find columns with missingdata

print(df.columns[df.isnull().any()])

Index(['age', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], dtype='object')

In [5]:
# Print shape of dataset

print(df.shape)

(1309, 15)

In [6]:
# drop columns with more than 25% missing data

print('List of columns with more than 25% missing date:',list(df.columns[df.isnull().mean() > 0.25]))
df.drop(list(df.columns[df.isnull().mean() > 0.25]), axis=1, inplace=True)
print('After drop columns with more than 25% missing data:',df,sep='\n')

List of columns with more than 25% missing date: ['cabin', 'boat', 'body', 'home.dest']
After drop columns with more than 25% missing data:
      Unnamed: 0  pclass  survived  \
0              0       1         1
1              1       1         1
2              2       1         0
3              3       1         0
4              4       1         0
...          ...     ...       ...
1304        1304       3         0
1305        1305       3         0
1306        1306       3         0
1307        1307       3         0
1308        1308       3         0

                                                 name  gender      age  sibsp  \
0                       Allen, Miss. Elisabeth Walton  female  29.0000      0
1                      Allison, Master. Hudson Trevor    male   0.9167      1
2                        Allison, Miss. Helen Loraine  female   2.0000      1
3                Allison, Mr. Hudson Joshua Creighton    male  30.0000      1
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000      1
...                                               ...     ...      ...    ...
1304                             Zabour, Miss. Hileni  female  14.5000      1
1305                            Zabour, Miss. Thamine  female      NaN      1
1306                        Zakarian, Mr. Mapriededer    male  26.5000      0
1307                              Zakarian, Mr. Ortin    male  27.0000      0
1308                               Zimmerman, Mr. Leo    male  29.0000      0

      parch  ticket      fare embarked
0         0   24160  $211.34         S
1         2  113781  $151.55         S
2         2  113781  $151.55         S
3         2  113781  $151.55         S
4         2  113781  $151.55         S
...     ...     ...       ...      ...
1304      0    2665   $14.45         C
1305      0    2665   $14.45         C
1306      0    2656    $7.23         C
1307      0    2670    $7.23         C
1308      0  315082    $7.88         S

[1309 rows x 11 columns]

In [7]:
# drop columns having independent values(which do not affect the survival rate).

df.drop(['name','ticket'], axis=1, inplace=True)
print('After drop columns having independent values(which do not affect the survival rate):',df,sep='\n')

After drop columns having independent values(which do not affect the survival rate):
      Unnamed: 0  pclass  survived  gender      age  sibsp  parch      fare  \
0              0       1         1  female  29.0000      0      0  $211.34
1              1       1         1    male   0.9167      1      2  $151.55
2              2       1         0  female   2.0000      1      2  $151.55
3              3       1         0    male  30.0000      1      2  $151.55
4              4       1         0  female  25.0000      1      2  $151.55
...          ...     ...       ...     ...      ...    ...    ...       ...
1304        1304       3         0  female  14.5000      1      0   $14.45
1305        1305       3         0  female      NaN      1      0   $14.45
1306        1306       3         0    male  26.5000      0      0    $7.23
1307        1307       3         0    male  27.0000      0      0    $7.23
1308        1308       3         0    male  29.0000      0      0    $7.88

     embarked
0           S
1           S
2           S
3           S
4           S
...       ...
1304        C
1305        C
1306        C
1307        C
1308        S

[1309 rows x 9 columns]

In [8]:
# check data types of all columns

print(df.dtypes)

Unnamed: 0      int64
pclass          int64
survived        int64
gender         object
age           float64
sibsp           int64
parch           int64
fare           object
embarked       object
dtype: object

In [9]:
# convert price to numeric

df['fare'] = df['fare'].replace('[\$,]', '', regex=True).astype(float)
print(df['fare'])

0       211.34
1       151.55
2       151.55
3       151.55
4       151.55
         ...
1304     14.45
1305     14.45
1306      7.23
1307      7.23
1308      7.88
Name: fare, Length: 1309, dtype: float64

In [10]:
# find columns still having missing/na values and also count of missing data

print(df.isnull().sum())

Unnamed: 0      0
pclass          0
survived        0
gender          0
age           263
sibsp           0
parch           0
fare            1
embarked        2
dtype: int64

In [11]:
# fill na with mean for fare and age column column.

df.fillna(value={'fare':df['fare'].mean(),'age':df['age'].mean()}, inplace=True)
print(df)

      Unnamed: 0  pclass  survived  gender        age  sibsp  parch    fare  \
0              0       1         1  female  29.000000      0      0  211.34
1              1       1         1    male   0.916700      1      2  151.55
2              2       1         0  female   2.000000      1      2  151.55
3              3       1         0    male  30.000000      1      2  151.55
4              4       1         0  female  25.000000      1      2  151.55
...          ...     ...       ...     ...        ...    ...    ...     ...
1304        1304       3         0  female  14.500000      1      0   14.45
1305        1305       3         0  female  29.881135      1      0   14.45
1306        1306       3         0    male  26.500000      0      0    7.23
1307        1307       3         0    male  27.000000      0      0    7.23
1308        1308       3         0    male  29.000000      0      0    7.88

     embarked
0           S
1           S
2           S
3           S
4           S
...       ...
1304        C
1305        C
1306        C
1307        C
1308        S

[1309 rows x 9 columns]

In [12]:
# drop na values for embarked column.

df.dropna(subset=['embarked'], inplace=True)
print(df)

      Unnamed: 0  pclass  survived  gender        age  sibsp  parch    fare  \
0              0       1         1  female  29.000000      0      0  211.34
1              1       1         1    male   0.916700      1      2  151.55
2              2       1         0  female   2.000000      1      2  151.55
3              3       1         0    male  30.000000      1      2  151.55
4              4       1         0  female  25.000000      1      2  151.55
...          ...     ...       ...     ...        ...    ...    ...     ...
1304        1304       3         0  female  14.500000      1      0   14.45
1305        1305       3         0  female  29.881135      1      0   14.45
1306        1306       3         0    male  26.500000      0      0    7.23
1307        1307       3         0    male  27.000000      0      0    7.23
1308        1308       3         0    male  29.000000      0      0    7.88

     embarked
0           S
1           S
2           S
3           S
4           S
...       ...
1304        C
1305        C
1306        C
1307        C
1308        S

[1307 rows x 9 columns]

In [13]:
# dump the dataframe to a csv file 'titanic_filtered.csv'.

df.to_csv('titanic_filtered_1.csv', index=False)

In [14]:
# for surviced column replace 0 with D and 1 with A

mapping = {0: 'D', 1: 'A'}
df.replace({'survived': {0: 'D', 1: 'A'}}, inplace=True)
print(df)

      Unnamed: 0  pclass survived  gender        age  sibsp  parch    fare  \
0              0       1        A  female  29.000000      0      0  211.34
1              1       1        A    male   0.916700      1      2  151.55
2              2       1        D  female   2.000000      1      2  151.55
3              3       1        D    male  30.000000      1      2  151.55
4              4       1        D  female  25.000000      1      2  151.55
...          ...     ...      ...     ...        ...    ...    ...     ...
1304        1304       3        D  female  14.500000      1      0   14.45
1305        1305       3        D  female  29.881135      1      0   14.45
1306        1306       3        D    male  26.500000      0      0    7.23
1307        1307       3        D    male  27.000000      0      0    7.23
1308        1308       3        D    male  29.000000      0      0    7.88

     embarked
0           S
1           S
2           S
3           S
4           S
...       ...
1304        C
1305        C
1306        C
1307        C
1308        S

[1307 rows x 9 columns]

In [15]:
# find the frequency of different values in survived column

print(df.survived.value_counts())

D    809
A    498
Name: survived, dtype: int64

In [16]:
# group by gender and survived and see the counts in each category

grp = df.groupby(by=["gender","survived"])
print(grp.size().reset_index(name='counts'))

   gender survived  counts
0  female        A     337
1  female        D     127
2    male        A     161
3    male        D     682

In [17]:
# find different pclass and no of people in each class

print(df.pclass.value_counts())

3    709
1    321
2    277
Name: pclass, dtype: int64

In [18]:
# find top 5 people with highest values of age. Count no of male and females in the top 5

print(df.sort_values(by=['age'], ascending=False).head())
print(df.sort_values(by=['age'], ascending=False).head().groupby(by=['gender']).size().reset_index(name='counts'))

      Unnamed: 0  pclass survived  gender   age  sibsp  parch   fare embarked
14            14       1        A    male  80.0      0      0  30.00        S
61            61       1        A  female  76.0      1      0  78.85        S
1235        1235       3        D    male  74.0      0      0   7.78        S
135          135       1        D    male  71.0      0      0  34.65        C
9              9       1        D    male  71.0      0      0  49.50        C
   gender  counts
0  female       1
1    male       4

In [19]:
# find max age male and female who survived

print(df[df.survived == 'A'].groupby(by=['gender']).age.max())

gender
female    76.0
male      80.0
Name: age, dtype: float64

In [20]:
# get average age by gender

print(df.groupby(by=['gender']).age.mean())

gender
female    28.795931
male      30.430716
Name: age, dtype: float64

In [21]:
# get average age by people survived vs not-survived

print(df.groupby(by=['survived']).age.mean())

survived
A    28.974711
D    30.389368
Name: age, dtype: float64