|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [4]:
import numpy as np
import pandas as pd

In [5]:
# Read data and describe it

titanic_dataset = pd.read_csv('titanic_dataset.csv')
print(titanic_dataset.describe())

        Unnamed: 0       pclass     survived          age        sibsp  \
count  1309.000000  1309.000000  1309.000000  1046.000000  1309.000000
mean    654.000000     2.294882     0.381971    29.881135     0.498854
std     378.020061     0.837836     0.486055    14.413500     1.041658
min       0.000000     1.000000     0.000000     0.166700     0.000000
25%     327.000000     2.000000     0.000000    21.000000     0.000000
50%     654.000000     3.000000     0.000000    28.000000     0.000000
75%     981.000000     3.000000     1.000000    39.000000     1.000000
max    1308.000000     3.000000     1.000000    80.000000     8.000000

             parch        body
count  1309.000000  121.000000
mean      0.385027  160.809917
std       0.865560   97.696922
min       0.000000    1.000000
25%       0.000000   72.000000
50%       0.000000  155.000000
75%       0.000000  256.000000
max       9.000000  328.000000

In [6]:
# Find columns with missingdata

print(titanic_dataset.isna())

      Unnamed: 0  pclass  survived   name  gender    age  sibsp  parch  \
0          False   False     False  False   False  False  False  False
1          False   False     False  False   False  False  False  False
2          False   False     False  False   False  False  False  False
3          False   False     False  False   False  False  False  False
4          False   False     False  False   False  False  False  False
...          ...     ...       ...    ...     ...    ...    ...    ...
1304       False   False     False  False   False  False  False  False
1305       False   False     False  False   False   True  False  False
1306       False   False     False  False   False  False  False  False
1307       False   False     False  False   False  False  False  False
1308       False   False     False  False   False  False  False  False

      ticket   fare  cabin  embarked   boat   body  home.dest
0      False  False  False     False  False   True      False
1      False  False  False     False  False   True      False
2      False  False  False     False   True   True      False
3      False  False  False     False   True  False      False
4      False  False  False     False   True   True      False
...      ...    ...    ...       ...    ...    ...        ...
1304   False  False   True     False   True  False       True
1305   False  False   True     False   True   True       True
1306   False  False   True     False   True  False       True
1307   False  False   True     False   True   True       True
1308   False  False   True     False   True   True       True

[1309 rows x 15 columns]

In [7]:
# Print shape of dataset

print(titanic_dataset.shape)

(1309, 15)

In [8]:
# drop columns with more than 25% missing data

# print(titanic_dataset.isin([' ']))

# drop_columns = titanic_dataset.loc[:, titanic_dataset.isin(['Nan']).mean() < 0.25]
# print(drop_columns)

drop_columns = titanic_dataset.dropna(thresh=0.25*len(titanic_dataset), axis=1)
print(drop_columns)

      Unnamed: 0  pclass  survived  \
0              0       1         1
1              1       1         1
2              2       1         0
3              3       1         0
4              4       1         0
...          ...     ...       ...
1304        1304       3         0
1305        1305       3         0
1306        1306       3         0
1307        1307       3         0
1308        1308       3         0

                                                 name  gender      age  sibsp  \
0                       Allen, Miss. Elisabeth Walton  female  29.0000      0
1                      Allison, Master. Hudson Trevor    male   0.9167      1
2                        Allison, Miss. Helen Loraine  female   2.0000      1
3                Allison, Mr. Hudson Joshua Creighton    male  30.0000      1
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000      1
...                                               ...     ...      ...    ...
1304                             Zabour, Miss. Hileni  female  14.5000      1
1305                            Zabour, Miss. Thamine  female      NaN      1
1306                        Zakarian, Mr. Mapriededer    male  26.5000      0
1307                              Zakarian, Mr. Ortin    male  27.0000      0
1308                               Zimmerman, Mr. Leo    male  29.0000      0

      parch  ticket      fare embarked boat                        home.dest
0         0   24160  $211.34         S    2                     St Louis, MO
1         2  113781  $151.55         S   11  Montreal, PQ / Chesterville, ON
2         2  113781  $151.55         S  NaN  Montreal, PQ / Chesterville, ON
3         2  113781  $151.55         S  NaN  Montreal, PQ / Chesterville, ON
4         2  113781  $151.55         S  NaN  Montreal, PQ / Chesterville, ON
...     ...     ...       ...      ...  ...                              ...
1304      0    2665   $14.45         C  NaN                              NaN
1305      0    2665   $14.45         C  NaN                              NaN
1306      0    2656    $7.23         C  NaN                              NaN
1307      0    2670    $7.23         C  NaN                              NaN
1308      0  315082    $7.88         S  NaN                              NaN

[1309 rows x 13 columns]

In [9]:
# drop columns having independent values(which do not affect the survival rate)

drop_ind_columns = titanic_dataset.drop(['name', 'ticket', 'cabin', 'boat', 'body', 'home.dest'], axis = 1, inplace = True)
print(drop_ind_columns)

None

In [10]:
# check data types of all columns

print(titanic_dataset.dtypes)

Unnamed: 0      int64
pclass          int64
survived        int64
gender         object
age           float64
sibsp           int64
parch           int64
fare           object
embarked       object
dtype: object

In [31]:
# convert price to numeric

titanic_dataset.fare= titanic_dataset[titanic_dataset.columns[7]].replace(['\$'], '', regex = True).astype(float)
print(titanic_dataset.fare)

0       211.34
1       151.55
2       151.55
3       151.55
4       151.55
         ...
1304     14.45
1305     14.45
1306      7.23
1307      7.23
1308      7.88
Name: fare, Length: 1309, dtype: float64

In [5]:
# find columns still having missing/na values and also count of missing data

print(titanic_dataset.isna().sum())

Unnamed: 0      0
pclass          0
survived        0
gender          0
age           263
sibsp           0
parch           0
fare            1
embarked        2
dtype: int64

In [40]:
# fill na with mean for fare and age column column

fare_mean = titanic_dataset.fare.fillna(titanic_dataset.fare.mean(), inplace = True)
print(fare_mean)
age_mean = titanic_dataset.age.fillna(titanic_dataset.age.mean(), inplace = True)
print(age_mean)

print(titanic_dataset.isna().sum())

None
None
Unnamed: 0    0
pclass        0
survived      0
gender        0
age           0
sibsp         0
parch         0
fare          0
embarked      2
dtype: int64

In [45]:
# drop na values for embarked column

titanic_dataset.embarked = titanic_dataset.dropna(axis=1)
print(titanic_dataset.embarked)

0          0
1          1
2          2
3          3
4          4
        ...
1304    1304
1305    1305
1306    1306
1307    1307
1308    1308
Name: embarked, Length: 1309, dtype: object

In [53]:
print(titanic_dataset.isna().sum())

print(titanic_dataset.dtypes)

Unnamed: 0    0
pclass        0
survived      0
gender        0
age           0
sibsp         0
parch         0
fare          0
embarked      0
dtype: int64
Unnamed: 0      int64
pclass          int64
survived        int64
gender         object
age           float64
sibsp           int64
parch           int64
fare          float64
embarked       object
dtype: object

In [11]:
titanic_dataset_filtered = pd.read_csv('titanic_filtered.csv')

In [60]:
# for surviced column replace 0 with D and 1 with A

df = titanic_dataset_filtered.replace({'survived' : {0 : 'D', 1 : 'A'}}, inplace = True)
print(df)

None

In [83]:
# find the frequency of different values in survived column

freq = titanic_dataset_filtered.survived.value_counts()
print(freq)

0    809
1    498
Name: survived, dtype: int64

In [61]:
# group by gender and survived and see the counts in each category

grp = titanic_dataset_filtered.groupby(by=["gender","age"])
print(grp.size().reset_index(name='counts'))

     gender      age  counts
0    female   0.1667       1
1    female   0.7500       2
2    female   0.9167       1
3    female   1.0000       5
4    female   2.0000       7
..      ...      ...     ...
162    male  70.0000       2
163    male  70.5000       1
164    male  71.0000       2
165    male  74.0000       1
166    male  80.0000       1

[167 rows x 3 columns]

In [26]:
# find different pclass and no of people in each class

grp1 = titanic_dataset_filtered.groupby(by=['pclass'])
r = grp1.count()
print(r)

        Unnamed: 0  survived  gender  age  sibsp  parch  fare  embarked
pclass
1              321       321     321  321    321    321   321       321
2              277       277     277  277    277    277   277       277
3              709       709     709  709    709    709   709       709

In [64]:
# find top 5 people with highest values of age. Count no of male and females in the top 5

print(titanic_dataset_filtered.sort_values(by = 'age', ascending = False).head(5))
print(titanic_dataset_filtered.sort_values(by = 'age', ascending = False).head(5).groupby(by=['gender']).size().reset_index(name='counts'))

      Unnamed: 0  pclass survived  gender   age  sibsp  parch   fare embarked
14            14       1        A    male  80.0      0      0  30.00        S
61            61       1        A  female  76.0      1      0  78.85        S
1233        1235       3        D    male  74.0      0      0   7.78        S
135          135       1        D    male  71.0      0      0  34.65        C
9              9       1        D    male  71.0      0      0  49.50        C
   gender  counts
0  female       1
1    male       4

In [65]:
# find max age male and female who survived

print(titanic_dataset_filtered[titanic_dataset_filtered.survived == 'A'].groupby(by=['gender']).age.max())

gender
female    76.0
male      80.0
Name: age, dtype: float64

In [59]:
# get average age by gender

avg_age = titanic_dataset_filtered.groupby(by = 'gender').age.mean()
print(avg_age)

gender
female    28.795931
male      30.430716
Name: age, dtype: float64

In [62]:
# get average age by people survived vs not-survived

avg_age = titanic_dataset_filtered.groupby(by = ['survived']).age.mean()
print(avg_age)

survived
A    28.974711
D    30.389368
Name: age, dtype: float64